
<div class="container header">

  <h1>Ng For</h1>

  <div *ngIf="adicionado" class="alert alert-success" role="alert">
    Funcionário adicionado: <strong>{{ nome }}</strong>
  </div>

  <form>
    <div class="form-group">
      <label for="nomeFuncionario">Nome</label>
      <input 
        type="text" 
        class="form-control" 
        id="nomeFuncionario" 
        name="nome"
        [(ngModel)]="nome"
        (focus)="adicionado = false"
        #nomeFuncionario>
    </div>
    <button 
      type="submit" 
      class="btn btn-primary" 
      [disabled]="nome.length === 0"
      (click)="adicionar(nomeFuncionario.value)">Adicionar</button>
  </form>
</div>
<br> 
<div class="container">
  <div class="row">
    <div class="col-2" *ngFor="let funcionario of funcionarios">
      <div class="card funcionario-card">
        <img src="https://randomuser.me/api/portraits/men/{{funcionario.id}}.jpg" class="card-img-top" alt="{{funcionario.nome}}">
        <div class="card-body">
          <h5 class="card-title">{{funcionario.nome}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>