<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">BootsAngular</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Conceitos básicos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/interpolation">Interpolação</a>
          <a class="dropdown-item" href="/event-binding">Event Binding</a>
          <a class="dropdown-item" href="/template-reference-variables">Template Reference Variables</a>
          <a class="dropdown-item" href="/property-binding">Property Binding</a>
          <a class="dropdown-item" href="/two-way-data-binding">2 Way Data Binding</a>
          <a class="dropdown-item" href="/ng-for-example">NgFor</a>
          <a class="dropdown-item" href="/binding-customizado-input">Binding Customizado @Input</a>
          <a class="dropdown-item" href="/binding-customizado-eventos">Binding Customizado Eventos (@Output e EventEmitter)</a>
        </div>
      </li>
    </ul>
  </div>
</nav>